In [7]:
%run '../00_rh_settings.ipynb'
%run '../00_rh_load_processed.ipynb'

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload
Populating the interactive namespace from numpy and matplotlib

In [8]:
df_describe = pd.DataFrame()

In [9]:
df_describe["dtypes"] = df.dtypes

In [10]:
df_describe["NaN_count"] = df.apply(lambda x: x.isna().sum())

In [11]:
df_describe["Unique_count"] = df.apply(lambda x: x.nunique())

# Check missed and unique

In [12]:
df_describe

                             dtypes  NaN_count  Unique_count
Unnamed: 0                    int64          0          4157
loanKey                       int64          0          4157
rep_loan_date        datetime64[ns]          0           582
first_loan           datetime64[ns]          0           634
dpd_5_cnt                   float64          0             8
dpd_15_cnt                  float64          0             6
dpd_30_cnt                  float64          0             4
first_overdue_date   datetime64[ns]       3482            78
close_loans_cnt             float64         15            21
federal_district_nm          object         11             8
TraderKey                    object          0            23
payment_type_0                int64          0             9
payment_type_1                int64          0            28
payment_type_2                int64          0            26
payment_type_3                int64          0            24
payment_type_4                int64          0             7
past_billings_cnt           float64          0            22
score_1                     float64          0          1275
score_2                     float64          0            48
age                         float64          0            51
gender                         bool          0             2
bad_flag                     object          0             2